@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: "Ubuntu Mono";
}

.card {
    margin: 5vh;
    width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: hsl(216, 50%, 16%);
    border-radius: 25px;
    padding: 1rem;

    box-shadow:
        0 0 0 2px hsl(218, 55%, 15%),
        0 0 15px 5px hsl(218, 55%, 12%),
        0 0 40px 20px hsl(218, 55%, 8%);
}

.card__image {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.card__title {
    font-weight: 900;
}

.card__description {
    opacity: 0.6;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card__meta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card__meta-item {
    display: flex;
    align-items: center;
}

.card__icon {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.5rem;
}

.card__divider {
    width: 90%;
    opacity: 0.6;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card__creator {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__avatar {
    border: 2px solid white;
    width: 2.5rem;
    margin: 0.5rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.card__creator-text {
    opacity: 0.6;
}
